<div class="ui middle aligned selection divided list container">
    <h1>BestellÃ¼bersicht aller Bestellungen</h1>
    <div class="ui padded segment">
        <h3 style="display: inline-block; margin-right: 1rem">Sortieren nach: </h3>
        <a class="ui black basic label" (click)="sortDateDesc()">
            <i class="angle down icon"></i>Datum absteigend
        </a>
        <a class="ui black basic label" (click)="sortDateAsc()">
            <i class="angle up icon"></i> Datum aufsteigend
        </a>
        <a class="ui black basic label"  (click)="sortIdDesc()">
            <i class="angle down icon"></i>Kunden-ID absteigend
        </a>
        <a class="ui black basic label"  (click)="sortIdAsc()">
            <i class="angle up icon"></i>Kunden-ID aufsteigend
        </a>

    </div>

    <div class="ui padded segment">
        <h3 style="display: inline-block; margin-right: 1rem">Filtern nach: </h3>
        <a class="ui black basic label" (click)="sortWithoutStatus()">
            <i class="angle down icon"></i>ohne Filterung
        </a>
        <a class="ui black basic label" (click)="sortStatus('offen')">
            <i class="angle down icon"></i>Status: offen
        </a>
        <a class="ui black basic label" (click)="sortStatus('bezahlt')">
            <i class="angle up icon"></i>Status: bezahlt
        </a>
        <a class="ui black basic label" (click)="sortStatus('versendet')">
            <i class="angle up icon"></i>Status: versendet
        </a>
        <a class="ui black basic label" (click)="sortStatus('storniert')">
            <i class="angle up icon"></i>Status: storniert
        </a>

    </div>

    <div *ngFor="let order of orders" class="ui segments" style="margin-bottom: 3rem">
        <div class="ui horizontal segments">
            <div class="ui segment">
                <p>Bestell-ID: {{ order.id }}</p>
            </div>
            <div class="ui segment">
                <p>Benutzer {{ order.user_id }}</p>
            </div>
            <div class="ui segment">
                <p>Datum: {{ order.created_at }}</p>
            </div>
        </div>

        <div class="ui segment">
            Lieferadresse: {{ getAddress(order.user_id) }}
        </div>

        <div class="ui secondary segment">

            <div class="ui ordered steps">
                <div *ngFor="let status of order.statuses" class="step">
                    <div class="content">
                        <div class="title">{{ status.bezeichnung }}</div>
                        <div class="description">{{ status.kommentar }}</div>
                        <button class="ui tiny yellow button labeled icon" (click)="editStatus(status)"><i class="pencil alternate icon"></i>
                            bearbeiten
                        </button>
                    </div>
                </div>

            </div>

        </div>

        <div class="ui segments">
            <div *ngFor="let ordersposition of order.ordersposition" class="ui horizontal segments">
                <div class="ui segment">
                    <p>Bestellposition-ID: {{ ordersposition.id }}</p>
                </div>
                <div class="ui segment">
                    <p>Buch {{ ordersposition.book_id }}</p>
                </div>
                <div class="ui segment">
                    <p>{{ getTitle(ordersposition.book_id)}}</p>
                </div>
                <div class="ui segment">
                    <p>{{ getSubtitle(ordersposition.book_id)}}</p>
                </div>
                <div class="ui segment">
                    <p>{{ getISBN(ordersposition.book_id)}}</p>
                </div>
                <div class="ui segment">
                    <p>â¬ {{getPrice(ordersposition.book_id)}} / StÃ¼ck</p>
                </div>
                <div class="ui segment">
                    <p>Nettogesammtpreis: â¬ {{getPriceWithAmount(ordersposition.book_id, ordersposition.amount)}}</p>
                </div>
                <div class="ui segment">
                    <p>Anzahl: {{ ordersposition.amount }}</p>
                </div>
            </div>
        </div>

        <div class="ui secondary segment">
            <p>Gesammtpreis Netto: â¬ {{getNetto(order.id)}}</p>
        </div>
        <div class="ui secondary segment">
            <p>MwSt.: {{ order.brutto }} %</p>
        </div>
        <div class="ui secondary segment">
            <p>Gesammtpreis Brutto: <span class="ui green header">â¬ {{getBrutto(order.id)}}</span></p>
        </div>

        <div class="ui secondary segment">
            <button *ngIf=" getLastStatus(order.id) == 'bezahlt' " class="ui tiny green button labeled icon" (click)="send(order.id)"><i class="dolly icon"></i>
                versenden
            </button>
        </div>

    </div>


    <!--<table *ngFor="let order of orders" class="ui collapsing celled table">
        <thead>
        <tr><th>Bestell-ID: {{ order.id }}</th>
            <th>Benutzer {{ order.user_id }}</th>
            <th>Gesamt Netto</th>
            <th>Gesamt Brutto</th>
            <th>Status</th>
        </tr></thead>
        <tbody>
        <tr>
            <td data-label="ID">{{ order.id }}</td>
            <td data-label="User">{{ order.user_id }}</td>
            <td data-label="Gesamt Netto">â¬</td>
            <td data-label="Gesamt Brutto">{{ order.brutto }}</td>
            &lt;!&ndash;<td data-label="Status">{{ order.statuses[order.statuses.length-1].bezeichnung }}</td>&ndash;&gt;
        </tr>
        </tbody>
    </table>-->



    <div *ngIf="!orders" class="ui active dimmer">
        <div class="ui large text loader">Daten werden geladen...</div>
    </div>

    <p *ngIf="orders && !orders.length">
        Es sind keine Bestellungen vorhanden!
    </p>


</div>

<!--
<div class="content">
  <div class="header">{{ orders.id }}</div>
  <div class="metadata">{{ orders.brutto }}</div>
  <div class="metadata">
      <span *ngFor="let status of orders.statuses; last as l">
        {{ status.bezeichnung }} {{ status.kommentar }}<span *ngIf="!l">, </span>
      </span>
  </div>
</div>
-->
