<img class="ui tiny image"
     *ngIf="book?.images[0]"
     [src]="book.images[0].url">
<div class="content">
    <div class="header">{{ book.title }}</div>
    <div class="description"> {{ book.subtitle }} </div>
    <div class="metadata">
      von <span *ngFor="let author of book.authors; last as l">
        {{ author.firstName }} {{ author.lastName }}<span *ngIf="!l">, </span>
      </span>
    </div>
    <div><i *ngFor="let r of getRating(book.rating)" class="tiny yellow star icon"></i></div>
    <div class="ui green header very padded" style="padding: 1rem 0">â¬ {{ book.price }}</div>
</div>
<!--
<button class="ui right floated tiny blue button labeled icon"><i class="shopping cart icon"></i>
    in den Warenkorb</button>-->
